{% extends 'base.html.twig' %}

{% block title %}L'histroire du Club'{% endblock %}

{% block stylesheets %}

<style>
   

    .text-center {
        text-align: center;
    }

    h1, h2, h3, h4 {
        margin: 0.5rem 0;
    }
    li {
        font-size: 1.5rem;
    }
    
    

    .section {
        padding: 2rem;
        max-width: 1200px;
        margin: 0 auto;
    }

    .card {
        background-color: #fff;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        padding: 2rem;
        margin-bottom: 2rem;
    }

    .lieu {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }

    .lieu img {
        max-width: 100%;
        height: auto;
        border-radius: 12px;
    }

    .highlight {
        font-weight: bold;
    }
</style>
{% endblock %}
{% block body %}
<div class="section text-center">
    <h1 style="color:#0000ff; font-weight:bold; font-size:4.5rem;">L'histoire du Club</h1><br><br>
    <h3>Le club <strong>des Archers du Castel</strong> a été fondé en 2000 à PLOGASTEL ST. GERMAIN à l’initiative de François BIARD. </h3>
</div>
<h3>Le club s'est bien développé pour la saison 2024/2025 :</h3>
    <h4>🏹 56 Adultes dont 38 hommes et 18 femmes 🏹</h4>
    <h4>🏹 28 Jeunes dont 13 garçons et 15 filles 🏹</h4><br>
    <h5>Le Bureau et le C.A sont composés de :</h5>
<ul>
    <li><strong>Le président</strong></li>
    <li><strong>Le trésorier</strong></li>
    <li><strong>La secrétaire</strong></li>
    <li><strong>Le vice-président</strong></li>
    <li><strong>Le vice-trésorier</strong></li>
    <li><strong>Le vice-secrétaire</strong></li>
    <li><strong>Et aussi 6 membres du C.A</strong></li>
</ul>   

<h3>Le tir à l’arc demande précision, concentration et maîtrise de soi. La puissance des arcs est adaptée à la morphologie des archers et l’on peut tirer de 10 ans à 99 ans. C’est un excellent sport pour les séniors, et beaucoup le découvrent à la retraite.</h3>
<br>
<ul>
    <li><strong>Le matériel est prêté aux débutants la première année.</strong></li>
    <li>Les archers pratiquent dans 3 catégories suivant le type d’arc : arc nu (sans viseur), arc classique (avec viseur et stabilisateurs) et arc à poulies (avec viseur optique).</li>
    <li>Les entraînements ont lieu dans la salle multifonction de PLOGASTEL ST. GERMAIN.</li>
    <li>À la belle saison, les entraînements se déroulent au terrain de tir à l’arc, à l’extrémité de la zone d’activités de Kérandoaré à PLOGASTEL ST. GERMAIN.</li>
</ul>
{% endblock %}
